<?xml version="1.0" encoding="utf-8"?>
<Media Key="138f77a0-2966-439d-a654-08097969c6c2" Alias="AdvaniaDev" Level="2">
  <Info>
    <Parent Key="e671e0f4-e562-4f42-8308-4f4e996bcaac">Images</Parent>
    <Path>/Images/AdvaniaDev</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-01-30T21:53:25</CreateDate>
    <NodeName Default="AdvaniaDev" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uz1j4e1g/advaniadev.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>