<?xml version="1.0" encoding="utf-8"?>
<Media Key="e671e0f4-e562-4f42-8308-4f4e996bcaac" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-01-30T21:53:09</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>