@using Models = Umbraco.Cms.Web.Common.PublishedModels;
@inherits SiteViewPage<Models.StartPage>
@{
	Layout = "~/Views/Layouts/_Site.cshtml";
}

<h2>@Model.CurrentPage.Header</h2>

<ul>
    @foreach (var tag in Model.CurrentPage.Tags)
    {
        <li>@tag</li>
    }
</ul>
