<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dba15c6f-e9cf-4a8c-b3d2-7b3d4cc8463d" Alias="Folder Picker" Level="1">
  <Info>
    <Name>Folder Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Folder",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>