<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a19be240-98e8-4e81-b3f7-6185c2be16be" Alias="List: ContentBlocks" Level="2">
  <Info>
    <Name>List: ContentBlocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>BlockList</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#16537e",
      "contentElementTypeKey": "c98bd578-d5b7-439e-a724-0355ff40776b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>