<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- This is a template and only remains to be a template for installation on IIS -->
  <location>
    <system.webServer>
      <!-- Remove server and powered by headers -->
      <httpProtocol xdt:Transform="Insert">
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <security xdt:Transform="Insert">
        <requestFiltering removeServerHeader="true" />
      </security>
    </system.webServer>
  </location>
</configuration>
