<?xml version="1.0" encoding="utf-8"?>
<Content Key="055b022f-6bee-4ea7-9656-0ecb10ec8c85" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2023-01-30T21:54:14</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="1969bcea-46b8-492e-9a9a-4b7cb6476002">StartPage</Template>
  </Info>
  <Properties>
    <blocks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/caa28a7d3fe44b6dafc48b563fe9a2d0",
        "areas": [],
        "columnSpan": 6,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 6,
        "rowSpan": 1,
        "contentUdi": "umb://element/cc53f5fcc16d4b20afd283822ac5924f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c98bd578-d5b7-439e-a724-0355ff40776b",
      "udi": "umb://element/caa28a7d3fe44b6dafc48b563fe9a2d0",
      "body": "<p>Lorem ipsum is the dipsum</p>",
      "actions": null,
      "header": "Block #1"
    },
    {
      "contentTypeKey": "c98bd578-d5b7-439e-a724-0355ff40776b",
      "udi": "umb://element/cc53f5fcc16d4b20afd283822ac5924f",
      "body": "<p>Click the buttons below for big wins</p>",
      "actions": "[{\"name\":\"Home\",\"udi\":\"umb://document/055b022f6bee4ea796560ecb10ec8c85\"},{\"name\":\"Test\",\"udi\":\"umb://document/055b022f6bee4ea796560ecb10ec8c85\"}]",
      "header": "Win big"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <directory>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f5dbd15e-4056-467e-af0c-04e7c51632a3",
    "mediaKey": "e671e0f4-e562-4f42-8308-4f4e996bcaac"
  }
]]]></Value>
    </directory>
    <header>
      <Value><![CDATA[Hello World]]></Value>
    </header>
    <media>
      <Value><![CDATA[umb://document/055b022f6bee4ea796560ecb10ec8c85]]></Value>
    </media>
    <tags>
      <Value><![CDATA[[
  "Hello",
  "testing",
  "lel"
]]]></Value>
    </tags>
  </Properties>
</Content>